/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Eagle+Lake&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --card-text-horizontal-margin: 67px;
    --card-stat-horizontal-margin: 36px;
    /* Loosely based on https: //www.reddit.com/r/RPGdesign/comments/5fyv24/medieval_manuscript_colors/ */
    --color-dark: #130e0a;
    --color-light: #f6f4f1;
    --color-structure: #960018; /* More washed out: #89213e */
    --color-speed: #1639b8;; /* More washed out: #3950a3 */
    --color-icon-text: #dfe1f4;
    --color-strike: #7C3502;
    --color-token: #7e00bc;
    --color-dominate: #960018;
    --color-parry: #1b4e30;
}

body {
    background-color: #ccc;
    margin: 1rem;
}

img.hidden.hidden {
    display: none;
}

.content-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-around;
}

.controls {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.buttons button {
    min-width: 7rem;
    height: 4rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.json-entry {
    width: 700px;
    height: 500px;
    padding: 0.5rem;
}

.card {
    width: 744px;
    height: 1038px;
    background-image: url("img/Base_Action_Default.svg");
    position: relative;
}

.image-layers {
    position: absolute;
    top: 0;
    left: 0;
}
.image-layers img {
    position: absolute;
    width: 744px;
    height: 1038px;
}

.card-overlay {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Cabin",
        sans-serif;
    position: relative;
    font-size: 36px;
    color: var(--color-dark);
    overflow: hidden;
    height: 100%;
}

.card-overlay > div {
    position: absolute;
}

.stat-speed, .stat-structure {
    font-family: "Archivo", serif;
    font-weight: bold;
    color: var(--color-light);
    font-size: 65px;
    top: 46px;
    text-align: center;
    width: 75px;
    height: 85px;
}

.stat-speed {
    left: var(--card-stat-horizontal-margin);
}

.stat-speed-instant img {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: -35px;
    margin-top: 5px;
}

.stat-speed-instant.hidden {
    display: none;
}

.stat-speed-instant.hidden img {
    display: none;
}

.stat-structure {
    right: var(--card-stat-horizontal-margin);
}

.action-type-container, .parry-height-container {
    top: 148px;
}

.action-type-container {
    left: 39px;
}

.parry-height-container {
    right: 39px;
}

.header-icon {
    width: 60px;
    height: 60px;
}


.header {
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: column nowrap;
}


.card-title-container {
    display: flex;
    flex-flow: row nowrap;
    width: 425px;
    justify-content: center;
    white-space: nowrap; /* Force it to render on one line */
}

.card-title {
    font-family: "Cormorant Unicase", serif;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    /* margin-top: -5px; */
}

.card-subtitle {
    font-family: "Eagle Lake", serif;
    text-align: center;
    font-size: 32px;
    /* color: #3a2005; */
    white-space: nowrap; /* Force it to render on one line */
    /* Optional letter spacing changes */
    font-style: italic;
    letter-spacing: -2px;
    margin-top: -10px;
    /* margin-top: -15px; */
}

.card-art-container { /* Actual size: 634 x 410px */
    position: absolute;
    top: 55px;
    left: 55px;
    right: 55px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-art-container img {
    flex-shrink: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.divider {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 478px;
    padding-left: var(--card-text-horizontal-margin);
    padding-right: 45px;
}

.card-type {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
    gap: 5px;
}

.card-category {
    white-space: nowrap; /* Force it to render on one line */
}

.card-range {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
    margin-left: 0.5rem;
    position: relative;
    width: 107px;
}

.card-range .card-range-text {
    position: absolute;
    color: var(--color-icon-text);
    font-family: "Archivo", serif;
    font-weight: bold;
    left: 20px;
    right: 20px;
    font-size: 26px;
    white-space: nowrap;
    text-align: center;
}

.card-range .range-icon {
    position: absolute;
    width: 100%;
    height: 55px;
}

.card-text-container {
    top: 547px;
    width: 100%;
    padding-left: var(--card-text-horizontal-margin);
    padding-right: var(--card-text-horizontal-margin);
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.1;
    height: 390px; /* Hardcoded to the end of the text */
}

.card-body-background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 537px;
    width: 100%;
    padding-left: var(--card-text-horizontal-margin);
    padding-right: var(--card-text-horizontal-margin);
    height: 403px;
}

.card-body-background-container img {
    flex-shrink: 1;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
}

.card-body-background-container .card-body-background {
    visibility: hidden;
}

.card-text {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.card-text hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(78, 77, 75, 0),
        rgba(78, 77, 75, 0.75),
        rgba(78, 77, 75, 0));
}
.card-text p.chamber-action {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
}


.card-text p.counter-action {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
}

.card-text .dominate-action {
    margin-left: 3px;
    border-left: 8px groove var(--color-dominate);
    padding-left: 8px;
}

.dominate-text {
    color: var(--color-dominate);
}

.no-wrap {
    white-space: nowrap;
}

.card-overlay p > * {
    /* Helps w/icon centering */
    /* To get this to work, everything must be in a span. No loose text */
    vertical-align: middle;
}

.card-overlay p > img.icon {
    margin-right: 5px;
    margin-top: 0;
}

.card-overlay p.keyword-list {
    text-align: left;
}

.card-overlay p.keyword-list .keyword-item {
    white-space: nowrap;
}

img.icon {
    display: inline;
    /* Adjust icons to always be 16px bigger than text, but not break up line height */
    /* 1em = 36px by default */
    width: 1.11em;
    height: 1.11em;
    margin-top: -8px;
    margin-bottom: -8px;
}

img.icon.chamber-icon {
    width: 1.33em;
    height: 1.33em;
}

img.icon.flow-icon {
    width: 1.33em;
    height: 1.33em;
    margin-top: -12px;
    margin-bottom: -12px;
    margin-right: -8px;
}

img.icon.attack-icon {
    width: 1.17em;
    height: 1.17em;
}

img.icon.token-icon.token-icon {
    width: 1.13em;
    height: 1.13em;
    margin-left: -8px;
    margin-right: -3px;
}

img.icon.speed-type-icon {
    /* margin-left: -0.75em; */
    /* position: relative; */
    /* z-index: 2; */
}

img.keyword-icon {
    width: 1.33em;
    height: 1.33em;
}

.card-text .range-icon-container {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 1.25em;
    margin-top: -0.15em;
    margin-bottom: -0.15em;
}

.card-text .range-icon-container .range-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    /*
    Don't ask me specifically why this offset
    I don't know either
    */
    top: 7px;
}

.card-text .range-icon-container .range {
    text-align: center;
    z-index: 2;
    font-size: 22px;
    margin-bottom: 0.1em;
    font-style: normal;
}

.card-text .attribute-icon-container {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
}

.card-text .attribute-icon-container .icon {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-text .attribute-icon-container .attribute-icon-label {
    font-weight: bold;
    font-family: "Archivo", serif;
    color: var(--color-icon-text);
    z-index: 2;
    font-size: 0.7em;
    font-style: normal;
}

.card-text img.icon.instant-icon {
    margin-left: -5px;
    margin-right: -5px;
}

/* Specifically only the action icon, not if it's used in normal text */
.counter-action.counter-action img.icon.counter-icon {
    width: 48px;
    height: 48px;
}
.chamber-action.chamber-action img.icon.chamber-icon {
    width: 48px;
    height: 48px;
}

.card-text img.icon.counter-icon {
    width: 42px;
    height: 42px;
}

.action-text-container {
    width: 563px;
}

img.icon.parry-icon {
    width: 36px;
    height: 36px;
}

.card-footer {
    bottom: 35px;
    right: 35px;
    left: 35px;
    font-size: 18px; /* Divide by 3 to get font size, lowest we can go is probably 4.5pt*/
    color: white;
    display: flex;
    flex-flow: row nowrap;
    line-height: 1;
    height: 21px;
}

.card-footer .card-copyright {
    margin-left: auto;
    margin-right: 50px;
}

.card-footer img.artist-icon {
    width: 18px;
    height: 18px;
}

/* Card Text */

span.action-title {
    /* color: #403d3b; */
    font-style: italic;
}

.flavor-text {
    font-style: italic;
    /* color: rgb(49, 46, 43); */
    font-size: 0.9em;
    line-height: 1;
}

/* Can also do img.deck-celerity, etc. for specific overrides */
img.deck-icon {
    margin-left: -8px;
    margin-right: -8px;
    /* Overall size constrained by width and height */
    width: 1.75em;
    height: 1.4em;
}

img.tier-icon {
    width: 2em;
}

.deck-text-pair img.deck-icon {
    margin-right: -3px;
}

span.range {
    color: var(--color-icon-text);
    font-weight: bold;
    font-family: "Archivo", serif;
}

span.structure {
    font-weight: bold;
    color: var(--color-structure);
}

span.dominate-arrow {
    color: var(--color-dominate);
    font-weight: bold;
    margin-left: -3px;
    margin-right: -3px;
    text-shadow: 1px 1px 1px #000;
}

span.flow-arrow {
    color: var(--color-token);
    font-weight: bold;
    margin-left: 2px;
    margin-right: -3px;
    text-shadow: 1px 1px 1px #000;
}

span.push-yourself-arrow {
    color: var(--color-token);
    font-weight: bold;
    margin-left: 2px;
    margin-right: -3px;
    text-shadow: 1px 1px 1px #000;
}

span.consume {
    font-weight: bold;
    color: var(--color-token);
}

span.flow {
    font-weight: bold;
    color: var(--color-token);
}

span.speed {
    font-weight: bold;
    color: var(--color-speed);
}

span.definition {
    font-weight: bold;
}

span.emphasis {
    font-style: italic;
}

span.reminder {
    font-style: italic;
    font-size: 0.9em;
}

span.reminder::before {
    content: '(';
}

span.reminder::after {
    content: ')';
}

span.token {
    color: var(--color-token);
    font-weight: bold;
}

span.strike {
    font-weight: bold;
    color: var(--color-strike);
}

span.attack {
    font-weight: bold;
    color: var(--color-strike);
}

span.parry {
    font-weight: bold;
    color: var(--color-parry);
}

span.counter {
    font-weight: bold;
    color: #084152;
}

span.generic-highlight {
    font-weight: bold;
}

span.deck-footwork {
    color: rgb(83, 75, 75);
    font-weight: bold;
}

span.deck-audacity {
    color: #7c0b10;
    font-weight: bold;
}

span.deck-fortitude {
    color: #054d24;
    font-weight: bold;
}

span.deck-celerity {
    color: #084d80;
    font-weight: bold;
}

span.deck-insight {
    color: #60400f;
    font-weight: bold;
}

.component-title-marker {
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bold;
}