/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Eagle+Lake&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --card-text-horizontal-margin: 59px;
    --card-stat-horizontal-margin: 37px;
    /* Loosely based on https: //www.reddit.com/r/RPGdesign/comments/5fyv24/medieval_manuscript_colors/ */
    --color-dark: #130e0a;
    --color-light: #f6f4f1;
    --color-structure: #960018; /* More washed out: #89213e */
    --color-speed: #3f00ff; /* More washed out: #3950a3 */
    --color-range: #924609;
    --color-strike: #924609;
    --color-token: #7e00bc;
}

body {
    background-color: #ccc;
    margin: 1rem;
}

img.hidden.hidden {
    display: none;
}

.content-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-around;
}

.controls {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.buttons button {
    min-width: 7rem;
    height: 4rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.json-entry {
    width: 700px;
    height: 500px;
    padding: 0.5rem;
}

.card {
    width: 744px;
    height: 1038px;
    background-image: url("img/CardFrame.svg");
}

.card-overlay {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Cabin",
        sans-serif;
    position: relative;
    font-size: 36px;
    color: var(--color-dark);
    overflow: hidden;
    height: 100%;
}

.card-overlay > div {
    position: absolute;
}

.stat-speed, .stat-structure {
    font-family: "Archivo", serif;
    font-weight: bold;
    color: var(--color-light);
    font-size: 75px;
    top: 45px;
    text-align: center;
    width: 75px;
    height: 85px;
}

.stat-speed {
    left: var(--card-stat-horizontal-margin);
}

.stat-structure {
    right: var(--card-stat-horizontal-margin);
}

.action-type-container, .parry-height-container {
    top: 165px;
}

.action-type-container {
    left: 33px;
}

.parry-height-container {
    right: 33px;
}

.header-icon {
    width: 75px;
    height: 75px;
}


.header {
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: column nowrap;
}


.card-title-container {
    display: flex;
    flex-flow: row nowrap;
    width: 423px;
    justify-content: center;
    white-space: nowrap; /* Force it to render on one line */
}

.card-title {
    font-family: "Cormorant Unicase", serif;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}

.card-subtitle {
    font-family: "Eagle Lake", serif;
    text-align: center;
    font-size: 32px;
    /* Optional letter spacing changes */
    font-style: italic;
    letter-spacing: -2px;
}

.card-art-container {
    top: 180px;
    left: 125px;
    right: 125px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-art-container img {
    flex-shrink: 1;
    height: 100%;
    object-fit: cover;
}

.divider {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 418px;
    padding-left: var(--card-text-horizontal-margin);
    padding-right: var(--card-text-horizontal-margin);
}

.card-type {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
}

.card-range {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
}

.card-range-text {
    color: var(--color-range);
    font-weight: bold;
}

.card-text-container {
    top: 487px;
    width: 100%;
    padding-left: var(--card-text-horizontal-margin);
    padding-right: var(--card-text-horizontal-margin);
    display: flex;
    flex-flow: column nowrap;
    height: 470px; /* Hardcoded to the end of the text */
}

.card-body-background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 477px;
    width: 100%;
    padding-left: var(--card-text-horizontal-margin);
    padding-right: var(--card-text-horizontal-margin);
    height: 505px;
}

.card-body-background-container img {
    flex-shrink: 1;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
}

.card-text {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.card-overlay p > * {
    /* Helps w/icon centering */
    /* To get this to work, everything must be in a span. No loose text */
    vertical-align: middle;
}

.card-overlay p > img.icon {
    margin-right: 5px;
}

.card-overlay p.keyword-list {
    text-align: center;
}

img.icon {
    display: inline;
    /* Adjust icons to always be 16px bigger than text, but not break up line height */
    width: 48px;
    height: 48px;
    margin-top: -8px;
    margin-bottom: -8px;
}

img.icon.range-icon {
    width: 48px;
    height: 48px;
}

.card-footer {
    bottom: 50px;
    right: 50px;
}

.card-footer img.icon {
    width: 40px;
    height: 40px;
}

/* Card Text */

span.action-title {
    font-style: italic;
}

span.range {
    color: var(--color-range);
    font-weight: bold;
}

span.structure {
    font-weight: bold;
    color: var(--color-structure);
}

span.speed {
    font-weight: bold;
    color: var(--color-speed);
}

span.definition {
    font-weight: bold;
}

span.reminder {
    font-style: italic;
}

span.token {
    color: var(--color-token);
    font-weight: bold;
}

span.strike {
    font-weight: bold;
    color: var(--color-strike);
}

span.generic-highlight {
    font-weight: bold;
}