.card.talent .card-text-container {
    top: 730px;
    height: 211px;
}

.card.talent .header {
    top: 52px;
    height: 72px;
    justify-content: center;
}

.card.talent .card-subtitle {
    display: none;
}

.card.talent .divider {
    top: 665px;
}